{{!-- {{#each countryCard}} --}}
<div class="country-block">
    <h2 class="country_name"></h2>
    <p class="country_capital">Capital:</p>
    <p class="countru_population">Population:</p>
    <p class="country_language">Language:</p>
</div>
{{!-- {{/each}} --}}